# Cache do OSMnx (downloads do OpenStreetMap)
cache/

# Temporários do Jupyter Notebook
.ipynb_checkpoints/

# Ambientes virtuais
.venv/
env/
venv/
ENV/

# Python compilado e caches
__pycache__/
*.py[cod]
*$py.class

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
